<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-min.css'/>
    <script type="text/javascript" src="/javascripts/bootstrap-min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    


  </head>
  <body>
  	
	<nav class="navbar navbar-expand-lg navbar-dark navigation">
      <a class="navbar-brand" href="/"><Strong> Kamus Tiga Bahasa </Strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/contact">contact <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="wrapper">
      <div class="custom-card">
          <div class="card">
  <div class="card-header">
    Contact
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>email : syahrul.alfian1@gmail.com</p>
      <p> tlp  : 089505454513</p> 

    </blockquote>
  </div>
</div>
      </div>
    </div>

    <footer class="text-center">
      <span>Copyright &copy; KTB - Create by Syahrul Alfian</span>
    </footer>

  <script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
