<!DOCTYPE html>
<html>
  <head>
    <title>Kamus Tiga Bahasa</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-min.css'/>
    <script type="text/javascript" src="/javascripts/bootstrap-min.js"></script>
    


  </head>
  <body>
  	
  <!-- 	Image and text -->
	<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#"><Strong> Kamus Tiga Bahasa </Strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#">Info <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<form>
  <div class="form-group">
    <label for="formGroupExampleInput"><Strong>Bahasa Indonesia</Strong></label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Masukan Kata">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2"><Strong>Bahasa Jawa</Strong></label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Masukan Kata">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput3"><Strong>Bahasa Jawa Banten</Strong></label>
    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Masukan Kata">
  </div>
</form>
			
			<input class="btn btn-primary" type="submit" value="Submit">

	<script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
